*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
}
@media screen and (max-width: 1425px) {
    .container{
        width: 689px;
        height: 1700px;
        margin: 40px auto;
    }
    .bit-1{
        display: none;
    }
    .box-2{
        width: 768px;
    }
    .frst-box{
        width: 689px;
    }
    .frst-box>button{
        background-color: #E8EFF2;
        color: #162542;
    }
    .box-2{
        width: 689px;
        height: 425px;
        margin-top: 62px;
    }
    .image-1>img{
        margin-top: -100px;
        width: 328px;
        height: 490px;
        border-top-right-radius: 1px;
        border-top-right-radius: 1px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 8px;
        margin-left: 60px;
    }
    .bit-2{
        display: none;
    }
    .keyb{
        width: 339px;
        height: 96px;
        font-size: 48px;
        margin-top: -62px;
    }
    .par-1{
        font-size: 16px;
        width: 339px;
    }
    .button-1{
        width: 175px;
        height: 58px;
        margin-top: 39px;
    }
    .rele>p{
        font-size: 15px;
    }
    .box-4{
        width: 768px;
        margin-top: 0;
    }
    .imeij{
        width: 214px;
        height: 320px;
        margin-left: -22px;
    }
    .image-2{
        width: 445px;
        height: 320px;
        margin-left: -75px;
    }
    .small-box{
        margin-top: 350px;
        margin-left: -560px;
    }
    .small-box>h1{
        font-size: 32px;
    }
    .small-box>p{
        width: 398px;
        height: 78px;
        font-size: 16px;
        line-height: 26px;
        margin-left: 250px;
        margin-top: -130px;
    }
    .box-5{
        margin-top: 0;
        width: 0;
    }
    .card-3{
        margin-top: 340px;
        margin-left: -570px;
    }
    .card-4{
        margin-top: 340px;
    }
    .last-p{
        margin-top: 400px;
    }
}
@media screen and (max-width: 777px) {
    .container{
        width: 400px;
        height: 3000px;
    }
    .frst-box{
        width: 365px;
        padding-inline: 24px;
    }
    .frst-box>button{
        width: 151px;
        height: 48px;
    }
    .box-2{
        width: 300px;
        padding-inline: 24px;
    }
    .button-1{
        width: 150px;
        height: 48px;
    }
    .box-4{
        width: 400px;
        margin-top: 450px;
    }
    .box-5{
        width: 0;
    }
    .image-1>img{
        width: 372px;
        height: 331px;
        margin-top: 350px;
        margin-left: -339px;
    }
    .imeij{
        width: 129px;
        height: 193px;
    }
    .image-2{
        width: 270px;
        height: 193px;
        margin-left: 0px;
    }
    .small-box{
        margin-top: 270px;
        margin-left: -300px;
    }
    .small-box>h1{
        width: 255px;
        height: 108px;
    }
    .small-box>p{
        width: 327px;
        height: 104px;
        font-size: 16px;
        margin-top: 0px;
        margin-left: -40px;
    }
    .box-5{
        margin-top: 100px;
        margin-left: 100px;
    }
    .last-p{
        margin-top: 1400px;
        margin-left: 70px;
    }
    .card-2{
        margin-top: 400px;
        margin-left: -280px;
    }
    .card-3{
        margin-left: -288px;
        margin-top: 850px;
    }
    .card-4{
        margin-top: 1300px;
        margin-left: -288px;
    }
    .card-1>img{
        margin-left: 20px;
    }
    .card-1>p{
        width: 327px;
        margin-left: -60px;
    }
    .card-2>p{
        width: 327px;
        margin-left: -60px;
    }
    .card-2>h1{
        margin-left: -30px;
    }
    .card-3>p{
        width: 327px;
        margin-left: -60px;
    }
    .card-3>h1{
        margin-left: -30px;
    }
    .card-4>p{
        width: 327px;
        margin-left: -61px;
    }
    .card-4>h1{
        margin-left: -30px;
    }
}