*{
    margin: 0;
}

@media screen and (min-width: 992px) {
    .container{
        width: 992px;
        background-color: yellow;
    }    
    .phone-responsv{
        display: none;
    }
    .nav-links{
        display: initial;
    }
    .row-box{
        margin-left: 50px;
    }
    .image-1{
        width: 550px;
        height: 400px;
        position: absolute;
        left: 440px;
        bottom: 140px;
    }
}

@media screen and (min-width: 1200px) {
    .container{
        width: 1200px;
        background-color: green;
    }
    .phone-responsv{
        display: none;
    }    
    .nav-links{
        display: initial;
    }
}

@media screen and (min-width: 1300px) {
    .container{
        width: 100%;
    }
    .nav-links{
        margin-left: 400px;
    }
    .row-box{
        margin-left: 200px;
    }
}