*{
    margin: 0;
    font-family: 'Segoe UI';
}

.container{
    height: 5000px;
    margin: auto;
    border: 1px solid red;
}
.first-box{
    width: 100%;
    height: 50px;
    background-color: #2c2c32;
    display: flex;
    justify-content: space-between;
}
.vscode-icon{
    padding-top: 10px;
    padding-inline: 15px;
}
.vscode-p{
    color: white;
    font-size: 20px;
    margin-left: 50px;
    margin-top: -31px;
}
.phone-responsv{
    padding-inline: 15px;
    display: initial;
    margin-top: 7px;
}
.first-box a {
    color: white;
}
.nav-links{
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    display: none;
    margin-top: 10px;
}
.nav-links a {
    text-decoration: none;
    padding-inline: 10px;
    color: #c9c3c3;
    font-weight: 400;
    font-size: 16px;
}