.sign-up{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 300px auto;
}
.form-group{
    padding-inline: 38px;
    width: 200px;
}
button{
    margin-left: 69px;
    margin-top: 7px;
    width: 100px;
    cursor: pointer;
}