
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
body{
    background-color: #EEEEEE;
}
.box{
    width: 430px;
    height: 636px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin: 162px auto;
}

#image{
    border-radius: 10px;
}
.box-2{
    width: 373px;
    height: 49px;
    margin-top: 30px;
    display: flex;
    gap: 10px;
    margin-left: 29px;
}
.note{
    background-color: #EBEFF2;
    width: 275px;
    height: 49px;
    border: none;
    border-radius: 5px;
    padding-left: 48px;
}
button{
    background-color: #20EEB0;
    color: white;
    border: none;
    width: 88px;
    height: 49px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    justify-content: center;
    padding-top: 0;
}

.box-3{
    width: 373px;
    height: 248px;
    margin-top: 36px;
    margin-left: 29px;
    display: grid;
    row-gap: 24px;
}
.section-1{
    width: 373px;
    height: 44px;

}
.section-2{
    width: 373px;
    height: 44px;
}
.section-3{
    width: 373px;
    height: 44px;
}
.section-4{
    width: 373px;
    height: 44px;
}
.section-1>h1{
    font-size: 18px;
    color: #0D0D0D;
    font-weight: 500;
}
.section-1>p{
    color: #0D0D0D;
    font-weight: 200;
    font-size: 14px;
}
.section-2>h1{
    font-size: 18px;
    color: #0D0D0D;
    font-weight: 500;
}
.section-2>p{
    color: #0D0D0D;
    font-weight: 200;
    font-size: 14px;
}
.section-3>h1{
    font-size: 18px;
    color: #0D0D0D;
    font-weight: 500;
}
.section-3>p{
    color: #0D0D0D;
    font-weight: 200;
    font-size: 14px;
}
.section-4>h1{
    font-size: 18px;
    color: #0D0D0D;
    font-weight: 500;
}
.section-4>p{
    color: #0D0D0D;
    font-weight: 200;
    font-size: 14px;
}
.icons-1,.icons-2,.icons-3,.icons-4{
    margin-left: 317px;
    margin-top: -30px;
}

.tag-1{
    cursor: pointer;
}
.icons-2>img{
    cursor: pointer;
}
.icons-3>img{
    cursor: pointer;
}
.icons-4>img{
    cursor: pointer;
}
.rgoli{
    margin-left: -263px;
    margin-top: 12px;
    cursor: pointer;
}
.am{
    position: fixed;
    font-family: 'Russo One';
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
    color: #FFFFFF;
    top: 305px;
    right: 294px;
}
.tur{
    position: fixed;
    font-family: 'Russo One';
    font-size: 18px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
    color: #FFFFFF;
    top: 274px;
    right: 294px;
}
.trash{
    cursor: pointer;
}