*{
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 1576px;
    display: flex;
    margin: 0 auto;
    border: 1px solid red;
    margin-top: 50px;
}
.first{
    display: flex;
    width: 800px;
    border: 1px solid black;
    width: 1576px;
    margin: auto;
}
