*{
    margin: 0 auto;
    box-sizing: border-box;
}
.head{
    display: flex;
    margin-left: 19px;
    margin-top: 30px;
    color: black;
    font-weight: 700;
}
th{
    display: flex;
    font-weight: 400;
    border: 1px solid black;
    width: 1419px;
    gap: 55px;
}
.input{
    width: 432px;
    height: 50px;
}
.amount{
    display: flex;
    align-items: center;
}
.desc{
    display: flex;
    align-items: center;
}
.date{
    display: flex;
    align-items: center;
}
.am{
    margin-left: -128px;
}
.da{
    margin-left: 94px;
}
.de{
    margin-left: -105px;
}
.im{
    margin-left: 51px;
}
.im{
    margin-left: 402px;
}
.ti{
    margin-left: -6px;
}