*{
    margin: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 1110px) {
    .container{
        width: 1110px;
        margin-top: 21px;
        height: 2000px;
    }
    header>img{
        display: none;
    }
    header{
        display: flex;
        justify-content: initial;
    }
    nav>a{
        text-decoration: none;
        color: #837D88;
        font-size: 13px;
        font-weight: 700;
        font-family: "karla";
        padding-left: 25px;
        transition: 0.1s;
    }
    nav>a:hover{
        color: #2C2830;
    }
    nav{
        display: flex;
        margin-left: 478px;
        padding-top: 10px;
    }
    .plan{
        width: 146px;
        height: 40px;
        margin-left: 57px;
        margin-top: -10px;
        background-color: #2C2830;
        font-size: 13px;
        font-family: "karla";
        font-weight: 700;
        text-align: center;
        color: white;
        padding-top: 10px;
        border: none;
    }
    .box-1>img{
        width: 440px;
        height: 550px;
        margin-left: 500px;
        margin-top: 97px;
        position: relative;
        z-index: 2;
    }
    .box-2{
        position: relative;
        width: 1110px;
        height: 600px;
        margin-top: -644px;
    }
    .par-1{
        font-size: 52px;
        width: 363px;
        text-align: initial;
    }
    .par-2{
        width: 449px;
        margin-left: -12px;
    }
    .box-3{
        margin-top: 250px;
        display: grid;
        grid-template-columns: auto auto auto;
        height: 267px;
    }
    .box-2>div{
        margin: 0;
        margin-top: 24px;
        background-color: white;
        color: #2C2830;
    }
    .bit-2{
        width: 905px;
        height: 600px;
        background-color: #2D2641;
        position: absolute;
        top: 70px;
    }
    .bit-3{
        width: 905px;
        height: 600px;
        background-color: #2D2641;
        position: absolute;
        top: 70px;
        right: 0;
    }
    .card-1{
        margin-top: -121px;
        padding-top: 0;
    }
    .card-2{
        margin-top: 15px;
        margin-left: -716px;
    }
    .card-3{
        margin-left: 30px;
        margin-left: -1098px;
    }
    .card-4{
        margin-top: -250px;
        margin-left: 770px;
    }
    .box-4{
        width: 1110px;
        height: 250px;
        display: flex;
    }
    .box-4>p{
        width: 436px;
    }
    .box-4>button{
        margin: 101px;
        margin-left: 430px;
        background-color: white;
        color: #2D2641;
    }
    .box-5{
        display: flex;
        height: 250px;
        width: 1000px;
        justify-content: space-between;
    }
    .last-1{
        display: flex;
    }
    .last-1>img{
        display: none;
    }
    .last-2{
        margin-left: -278px;
    }
    .last-3{
        margin-top: 80px;
    }
    .box-2>img{
        display: inherit;
        margin-left: 655px;
        position: relative;
        z-index: 4;
        margin-top: -345px;
    }
}