*{
    margin: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 1110px) {
    .container{
        width: 1110px;
        margin-top: 21px;
    }
    header>img{
        display: none;
    }
    header{
        border: 1px solid red;
        display: flex;
        justify-content: initial;
    }
    nav>a{
        text-decoration: none;
        color: #837D88;
        font-size: 13px;
        font-weight: 700;
        font-family: "karla";
        padding-left: 25px;
        transition: 0.1s;
    }
    nav>a:hover{
        color: #2C2830;
    }
    nav{
        display: flex;
        margin-left: 478px;
        padding-top: 10px;
    }
    .plan{
        width: 146px;
        height: 40px;
        margin-left: 57px;
        margin-top: -10px;
        background-color: #2C2830;
        font-size: 13px;
        font-family: "karla";
        font-weight: 700;
        text-align: center;
        color: white;
        padding-top: 10px;
        border: none;
    }
    .box-1>img{
        width: 440px;
        height: 550px;
        margin-left: 500px;
        margin-top: 97px;
        position: relative;
        z-index: 2;
    }
    .box-2{
        position: relative;
        width: 1110px;
        height: 600px;
        margin-top: -644px;
    }
    .par-1{
        margin-left: 40px;
        font-size: 52px;
        width: 363px;
        text-align: initial;
    }
    .par-2{
        width: 459px;
    }
    .box-3{
        margin-top: 250px;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .box-2>div{
        margin: 0;
        margin-top: 24px;
        background-color: white;
        color: #2C2830;
    }
    .bit-2{
        width: 405px;
        height: 600px;
        background-color: #2D2641;
        position: absolute;
        top: 73px;
    }
    .bit-3{
        width: 405px;
        height: 600px;
        background-color: #2D2641;
        position: absolute;
        top: 73px;
        right: 0;
    }
    .card-1{
        margin-top: -121px;
        padding-top: 0;
    }
    .card-2{
        margin-top: 15px;
        margin-left: -328px;
    }
    .card-3{
        margin-left: 30px;
    }
}

