*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Display';
}

.container{
    width: 327px;
    height: 3708px;
    margin: 31px auto;
}
header{
    display: flex;
    justify-content: space-between;
}
header>p{
    color: #2C2830;
    width: 112px;
    font-size: 25px;
}
header>img{
    display: initial;
}
.box-1>img{
    width: 326px;
    margin-top: 31px;
}
.box-2{
    margin-top: -6px;
    width: 327px;
    height: 500px;
    background-color: #2D2641;
}
.par-1{
    color: #FFFFFF;
    padding-top: 93px;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.67px;
    text-align: center;
    font-weight: 400px;
}
.par-2{
    width: 304px;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 16px;
}
.box-2>div{
    padding-top: 9px;
    text-align: center;
    width: 146px;
    height: 40px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 700;
    border: none;
    margin: 32px auto;
    cursor: pointer;
    background-color: #2D2641;
    border: 1px solid white;
}
.box-3{
    width: 327px;
    height: 1100px;
}
.card-1{
    margin-top: 140px;
    width: 327px;
    height: 89px;
}
.card-2{
    margin-top: 80px;
    width: 327px;
    height: 250px;
}
.card-3{
    width: 327px;
    margin-top: 15px;
    height: 250px;
}
.card-4{
    margin-top: 15px;
    width: 327px;
    height: 250px;
}
.card-1>p{
    width: 327px;
    height: 48px;
    color: #2C2830;
    font-family: "DM Serif Display";
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.6666666865348816px;
    text-align: center;
    padding-top: 40px;
}
.card-2>img{
    display: flex;
    margin: 0 auto;
}
.card-2>p{
    color: #2C2830;
    font-family: "DM Serif Display";
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -0.3888888955116272px;
    text-align: center;
    padding-top: 32px;
}
.card-2>small{
    color: #837D88;
    font-family: "Karla";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding-top: 16px;
}
.forms{
    font-family: "Karla";
    text-align: center;
    font-size: 14px;
    color: #837D88;
}
.card-3>img{
    display: flex;
    margin: 0 auto;
}
.card-3>p{
    color: #2C2830;
    font-family: "DM Serif Display";
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -0.3888888955116272px;
    text-align: center;
    padding-top: 32px;
}
.card-3>small{
    color: #837D88;
    font-family: "Karla";
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding-top: 16px;
}
.card-4>img{
    display: flex;
    margin: 0 auto;
}
.card-4>p{
    color: #2C2830;
    font-family: "DM Serif Display";
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -0.3888888955116272px;
    text-align: center;
    padding-top: 32px;
}
.card-4>small{
    color: #837D88;
    font-family: "Karla";
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding-top: 16px;
}
.box-4{
    width: 327px;
    height: 344px;
    background-color: #2D2641;
    margin-top: 140px;
}
.box-4>p{
    padding-top: 80px;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
}
.box-4>button{
    margin-top: 40px;
    width: 160px;
    height: 40px;
    background-color: #2D2641; 
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    border: none;
    display: flex;
    margin: 30px auto;
    text-align: center;
    padding-left: 30px;
    padding-top: 7px;
     cursor: pointer;
}
.box-5{
    width: 327px;
    height: 1025px;
    margin-top: 140px;
}
.last-1{
    display: block;
    text-align: center;
}
.last-1>p{
    font-size: 25px;
    color: #2C2830;
}
.last-1>img{
    padding-top: 32px;
}
.last-2{
    text-align: center;
    margin-top: 81px;
}
.last-2>p{
    color: #2D2641;
    font-family: "Karla";
    margin-top: 16px;
    font-weight: 700;
    font-size: 13px;
}
.last-2>h3{
    color: #837D88;
    font-size: 13px;
    font-weight: 700;
}
.last-3{
    text-align: center;
    margin-top: 40px;
}
.last-3>p{
    color: #2D2641;
    font-family: "Karla";
    margin-top: 16px;
    font-weight: 700;
    font-size: 13px;
}
.last-3>h3{
    color: #837D88;
    font-size: 13px;
    font-weight: 700;
}
.last-4{
    text-align: center;
    margin-top: 81px;
}
.last-4>p{
    color: #2D2641;
    font-family: "Karla";
    margin-top: 16px;
    font-weight: 700;
    font-size: 13px;
}
.last-4>h3{
    color: #837D88;
    font-size: 13px;
    font-weight: 700;
}
.last-5{
    text-align: center;
    margin-top: 81px;
}
.last-5>p{
    color: #2D2641;
    font-family: "Karla";
    margin-top: 16px;
    font-weight: 700;
    font-size: 13px;
}
.last-5>h3{
    color: #837D88;
    font-size: 13px;
    font-weight: 700;
}
nav{
    display: none;
}