@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto&family=Russo+One&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(./images/image-1.jpeg);
    background-repeat: no-repeat;
}
.main{
    width: 1182px;
    height: 735px;
    border: 1px solid #fff;
    margin: 37px auto;
    display: flex;
    justify-content: space-between;
}
.left-box{
    width: 400px;
    height: 735px;
    border-left: 5px solid rgba(255, 255, 255, 0.14); background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(7px); 
}
.main>img{
    width: 89.90px;
    height: 47px;
}
.first{
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 50px;
    flex-shrink: 0;
    border-bottom: 1px solid #FFF;
    margin-left: 30px;
}
.first>input{
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.70);
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
}
.first>img{
    width: 28px;
    height: 47px;
    flex-shrink: 0;
}
.weather-p{
    width: 141px;
    height: 21px;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 41px;
    margin-left: 30px;
}
.temp-section{
    width: 354px;
    height: 290px;
    border: 1px solid white;
    margin-top: 52px;
    margin-left: 30px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.temp-section>h1{
    color: white;
    font-size: 20px;
    font-family: 'Roboto';
}
.section-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.70);
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.temp-1{
    display: flex;
    gap: 20px;
    align-items: center;
    color: rgba(255, 255, 255, 0.70);
}
.section-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.70);
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.temp-2{
    display: flex;
    gap: 20px;
    align-items: center;
    color: rgba(255, 255, 255, 0.70);
}
.section-3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.70);
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.temp-3{
    display: flex;
    gap: 20px;
    align-items: center;
    color: rgba(255, 255, 255, 0.70);
}
.section-4{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.70);
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.temp-4{
    display: flex;
    gap: 20px;
    align-items: center;
    color: rgba(255, 255, 255, 0.70);
}
.section-5{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.70);
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.temp-5{
    display: flex;
    gap: 20px;
    align-items: center;
    color: rgba(255, 255, 255, 0.70);
}
.bit{
    width: 351px;
    height: 50px;
    flex-shrink: 0;
    border-bottom: 1px solid #FFF;
    color: #FFFFFF;
    margin-left: 30px;
}
.forecast{
    color: #FFF;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 41px;
    margin-left: 30px;
}