*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1;
}
.container-1{
    width: 300px;
    margin: auto;
}
.box-1{
    width: 311px;
    margin: 85px auto;
}
.par-1{
    width: 297px;
    font-size: 24px;
    margin-top: 0;
    padding-left: 10px;
}
.box-2{
    width: 350px;
    margin: auto;
}
.tech{
    padding-left: 10px;
    width: 325px;
    font-weight: 600;
    font-size: 24px;
    padding-top: 5px;
}
.par-2{
    padding-left: 10px;
    width: 311px;
    height: 75px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    padding-top: 16px;
}
.card-1{
    text-align: center;
    background-color: white;
    width: 311px;
    height: 210px;
    margin: auto;
    border-radius: 10px;
}
.card-1>h1{
    padding-top: 25px;
    text-align: start;
    font-size: 20px;
    padding-inline: 29px;
}
.card-1>p{
    padding-inline: 29px;
    text-align: start;
    width: 254px;
    font-size: 13px;
    line-height: 23px;
}
.card-1>img{
    padding-top: 28px;
    padding-inline: 197px;
}
.bit-1{
    width: 311px;
    height: 4px;
    background-color: #EA5454;
}
.card-2{
    text-align: center;
    background-color: white;
    width: 311px;
    height: 210px;
    margin: auto;
    border-radius: 10px;
    margin-top: 25px;
}
.card-2>h1{
    padding-top: 25px;
    text-align: start;
    font-size: 20px;
    padding-inline: 29px;
}
.card-2>p{
    padding-inline: 29px;
    text-align: start;
    width: 254px;
    font-size: 13px;
    line-height: 23px;
}
.card-2>img{
    padding-top: 28px;
    padding-inline: 197px;
}
.bit-2{
    width: 311px;
    height: 4px;
    background-color: #FCAE4A;
}
.card-3{
    text-align: center;
    background-color: white;
    width: 311px;
    height: 210px;
    margin: auto;
    margin-top:  25px;
    border-radius: 10px;
}
.card-3>h1{
    padding-top: 25px;
    text-align: start;
    font-size: 20px;
    padding-inline: 29px;
}
.card-3>p{
    padding-inline: 29px;
    text-align: start;
    width: 254px;
    font-size: 13px;
    line-height: 23px;
}
.card-3>img{
    padding-top: 28px;
    padding-inline: 197px;
}
.bit-3{
    width: 311px;
    height: 4px;
    background-color: #44D3D2;
}
.card-4{
    text-align: center;
    background-color: white;
    width: 311px;
    height: 210px;
    margin: auto;
    border-radius: 10px;
    margin-top: 25px;
}
.card-4>h1{
    padding-top: 25px;
    text-align: start;
    font-size: 20px;
    padding-inline: 29px;
}
.card-4>p{
    padding-inline: 29px;
    text-align: start;
    width: 254px;
    font-size: 13px;
    line-height: 23px;
}
.card-4>img{
    padding-top: 28px;
    padding-inline: 197px;
}
.bit-4{
    width: 311px;
    height: 4px;
    background-color: #549EF2;
}